<article class="listing" style="margin-left: 15%; margin-top: 0px!important;">
    <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
        <img src="{{product.image}}" alt="">
        <small>Click to enlarge</small>
    </a>
    <h3>{{#link-to "products.show" product class=product.id}}{{product.title}}{{/link-to}}</h3>
    <div class="detail location">
        <span>Item Origin:</span> {{product.city}}
    </div>
    <div class="detail type">
        <span>Type:</span> {{product-item-type product.category}}
        - {{product.category}}
    </div>
    <div class="detail bedrooms">
        <span>Price:</span> PHP {{product.price}}
    </div>
    <div class="detail owner">
        <span>Description:</span> {{product.owner}}
    </div>
    <div class="detail bedrooms">
        {{#link-to "products.show" product}}<button class="button gr-btn" style="position: absolute; cursor: pointer!important; right: 20%;top: 40%;">View Item</button>{{/link-to}}
        {{#link-to "products.update" product}}<button class="button pointer-btn" style="position: absolute!important; right: 450px!important; bottom: 54px!important; cursor: pointer;">Update</button>{{/link-to}}
        <button class="button del-btn" style="right: 196px; background-color: #9a2b2b!important; position: absolute; bottom: 54px;"{{ action 'destroy' }} >Delete</button>
    </div>
</article>

<br><br>