<div class="jumbo update-listing" style="margin-top: 0px!important;">
    <h2 class="title">User Information</h2>
    <div class="right detail-section" style=" width: 700px; margin-right: 10%;">
        <h3>General Information</h3>

        <div class="detail owner">
	        <div style="padding: 10px 30px;" class="row">
				<h5 style="width: 150px;">User ID: </h5> 
				<input disabled="true" class="update-input" type="text" value={{model.userid}}>
			</div>
		</div>
        <div class="detail">
            <div style="padding: 10px 30px;" class="row">
				<h5 style="width: 150px;">User Name: </h5> 
            	<input class="update-input" type="text" value={{model.name}}>
            </div>
        </div>
        <div class="detail">
            <div style="padding: 10px 30px;" class="row">
				<h5 style="width: 150px;">User Email: </h5> 
            	<input class="update-input" type="text" value={{model.email}}>
            </div>
        </div>
        <div class="detail">
        	<div style="padding: 10px 30px;" class="row">
				<h5 style="width: 150px;">User Password: </h5> 
            	<input class="update-input" type="password" value={{model.password}}>
            </div>
        </div>

       {{#link-to "users" class="button btn-update btn-nohover" style="color:yellow!important;"}}
            Back to List
        {{/link-to}}

        <button class="button btn-update" style="margin-right: 20px;" {{ action 'updateUser' }}> Update </button>
    </div>
</div>
<img src="{{model.avatar}}" class="user-pic">
<br><br>

<div class="">
    <div class="menu footer-cust">
        <div class="links">
            <p style="color:white;display: table-cell;">Copyright 2018</p>
        </div>
        {{#link-to "landing"}}
            <h1>
                <em>Gudetama Store</em>
            </h1>
        {{/link-to}}
    </div>
</div>