<div class="container">
  <div class="menu">
    {{#link-to "landing"}}
      <h1>
        <em>Gudetama Store</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "products" class="menu-about"}}
        Products
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
    </div>

    <div style="float:right;">
      {{#simple-modal enabled=false title="Login To Your Account" id="modal-main"}}
        <label for="uname"><b>E-mail Address</b></label> <br>
        {{input type="text" class="modal-input" placeholder="Enter E-mail" value=email}}
        <br>
        <label for="psw" style="margin-top: 15px;"><b>Password</b></label> <br>
        {{input type="password" value=password class="modal-input" placeholder="Enter Password"}}
        <br><br>

        <img src="https://mbtskoudsalg.com/images/gudetama-png.png" class="modal-img">

        <button class="button modal-btn" {{action 'formSubmit' 'modal-main'}}>Login</button>

      {{/simple-modal}}
      
      <button class="button modal-btn" {{action 'openModal' 'modal-main'}}>Login</button>
    </div>
  </div>

  <div class="body">
    {{outlet}}
  </div>
</div>